* {
    padding: 0;
    margin: 0;
    font-size: 40px;
    box-sizing: border-box; /*border-box makes height and width to apply to the whole box, not content size*/
    /* other setting is content-box that is default */
}

.box-one {
    background-color: #EB5757;
    padding: 20px;
    height: 150px;
    width: 150px;
    border: 20px solid #9B51E0;
    margin: 15px auto; /*margin defines distance between two elements. Browser takes the largest margin into the account*/
    /* using "margin: Npx auto" with defined width allows centering element horizontally */
}


.box-two {
    box-sizing: content-box;
    background-color: #2D9CD8;
    border: 20px solid #27AE60;
    padding: 20px;
    height: 150px;
    width: 150px;
    margin: 120px 150px 160px 120px; /* "margin:" takes up to four values that allow to set margin on different sides top, right, bottom, left  */
    /* with two or three values it goes: top, right and left, bottom */
}